/* h1 {
  color: red;
  font-size: 4rem;
}
h2 {
  color: yellowgreen;
}
/* css rules */
/* selectors */
/* declaration block */
/* declaration */
/* properties */
/* values */

/* p {
  color: grey;
} */
body {
  color: blue;
}
h1,
h2 {
  color: red;
}
#heading {
  color: green;
  background: black;
}
#subheading {
  color: blueviolet;
  background: gold;
}
.green {
  color: green;
}
.red {
  color: red;
  background: grey;
}
#title {
  font-size: 40px;
}
.lowercase {
  text-transform: uppercase;
}
div {
  color: red;
}
span {
  text-transform: uppercase;
}
#border {
  border: 2px solid black;
}

/* last rule and specificity * universal selector */
.brown {
  color: brown;
}
.brown {
  color: aqua;
}
* {
  color: darkorchid;
  margin: 0px;
  padding: 0px;
}
/* INHERITANCE */
/* COLOR PROPERTIES */
/* COLOR BACKGROUND-COLOR */
#first {
  color: bisque;
  background: yellowgreen;
}
#second {
  color: burlywood;
  background-color: brown;
}
/* RGB, RED, GREEN, BLUE. 0-255 */
#first {
  color: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
}
span {
  color: rgb(255, 255, 255);
}
/* RGBA 0-1, OPACITY/TRANSPARENT */
body {
  background: rgba(0, 200, 0, 0.56);
}
.outer {
  width: 300px;
  height: 300px;
  background: gold;
  margin: 30px;
}
.inner {
  width: 50%;
  height: 50%;
  background: green;
}
.class {
  color: #000;
  text-transform: uppercase;
  text-decoration: overline;
  line-height: 30px;
  word-spacing: 10px;
  letter-spacing: 5px;
  padding: 20px;
  outline: 10px solid #000;
  outline-offset: -20px;
  text-align: center;
  border: 5px solid;
}
body .nav {
  background: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-align: center;
  height: 50px;
 }
ul li {
  float: left;
  padding: 15px 10px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}
ul li ul {
  width: 180px;
  height: 190px;
  background-color: #000;
  margin-top: 15px;
  border-radius: 0px 0px 7px 7px;
  display: none;
  transition: 0.3s ease-out;
}
ul li ul li {
  float: none;
  padding: 10px;
  border-top: 2px solid rgba(0, 200, 0, 0.56);

}
ul li ul li a:hover {
 background: none;
 margin: 0px;
  padding: 0px;
  color: greenyellow;
  border-radius: 10px;
  font-size: 10px;
}
ul li a:hover {
  background: #fff;
  margin: 30px;
  padding: 10px;
  color: #000;
  border-radius: 10px;
}
ul li:hover ul{
  display: block;
}
